@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

body {
    background-image: url(https://api16-normal-useast1a.lemon8-app.com/seo/image?item_id=7323072512995377670&index=1&sign=7b0bb6755af332d65d412935efb2929a);
    font-family: "Madimi One", sans-serif;
    margin: 0;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    size: 30px;
}

header {
    text-align: center;
    margin: 20px 0;
}

h1 {
    color: #f0bae4;
    background-color: rgba(223, 12, 139, 0.8);
    font-size: 48px;
    text-shadow: 2px 2px #df71a6;
}

h2 {
    color: #e8238f;
    border-bottom: 2px dashed #ff0090;
    padding-bottom: 5px;
}

.profile-pic {
    border-radius: 50%;
    border: 5px solid #e16eb1;
    width: 200px;
    height: 200px; 
    object-fit: cover;
}

section {
    background-color: rgba(230, 154, 206, 0.756);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    
}



section p {
    text-align: center;
}

ul {
    color: #ef0d94;
}

.favorites-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.favorite-item {
    text-align: center;
}

.favorite-item img {
    border-radius: 10px;
    border: 5px solid black ;
    width: 200px;
    height: 200px; 
    object-fit: cover;
}

p {
    color: #eb0c9d;
    line-height: 1.6;
}

.food{
  
    color: red;
    border : black;
}
.movie{
    color: rgb(183, 0, 55);
    border : black;
}

.fun-fact-box{
    background-color: rgb(255, 215, 222, 0.9);   
    border-radius: 10px;
    text-align: center;
} 